environment: development

http_server:
  host:
  port:
  addr: 0.0.0.0:8000

db:
  name: synansishouse_order
  host: localhost
  port: 5432
  user: postgres
  pass: postgres

db_migration_url: file://db/migration

grpc_client:
  inventory:
    host: localhost
    port: 9090
    max_retry: 3
